/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button,
input {
	font: inherit;
}

img {
	object-fit: cover;
}

/* Theme */
:root {
	color-scheme: light dark;
	font-family: 'Alan Sans', sans-serif;

	--text-color: light-dark(black, white);
}

body {
	color: var(--text-color);
	padding: 1rem;
}

/* Utility */
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
